.banner {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px
}

.banner .imagenbanner {
    min-height: 250px;
    background-image: url("kebab.jpg");
    background-size: cover;
    background-position: center;
}

.banner .navigation {
    margin-top: 15px;
}

.banner .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.banner .navigation li {
float: left;
}

.banner .navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.banner .navigation li a:hover {
    background-color: #111;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    min-height: 1200px;
}

.content .cars {
    margin: 10px 15px 10px 15px;
    width: 1200px;
    height: 800px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    float: left;
}

.content .filters {
    width: 300px;
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 10px;
    margin-left: 25px;
    float: left;
}

.content .outstanding {
    width: 1150px;
    height: 350px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.content .outstanding .carPreview {
    width: 242px;
    height: 310px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.content .outstanding .carPreview .carPreviewImage {
    width: 218px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 10px;
}

.content .outstanding .carPreview img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .content .outstanding .carPreview img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.content .outstanding .carPreview .carPreviewInfo {
    width: 218px;
    height: 120px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 10px;
}

.content .otherCars {
    width: 1000px;
    height: 278px;
    margin-right: 20px;
    margin-left: 80px;
    margin-top: 70px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.content .otherCars .otherCarsPreview {
    width: 220px;
    height: 240px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 20px;
    float: left;
}

.content .otherCars .otherCarsPreview .otherCarsPreviewImage {
    width: 200px;
    height: 128px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 8px;
}

.content .otherCars .otherCarsPreview img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .content .otherCars .otherCarsPreview img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.content .otherCars .otherCarsPreview .otherCrasPreviewInfo {
    width: 200px;
    height: 80px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 10px;
}

.content .cars .carPreview .carPreviewInfo .brand {
    font-size: 1.2em;
    color:crimson;
    margin-top: 5px;
    margin-left: 10px;
    height: 10px;
}

.content .cars .carPreview .carPreviewInfo .kilometres {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 0.8em;
    height: 10px;
    color: gray;
}

.content .cars .carPreview .carPreviewInfo .price {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 1.3em;
    height: 10px;
    color:darkred;
}

.content .cars .carPreview .carPreviewInfo .button {
    width: 200px;
    margin-left: 10px;
    margin-top: 2px;
}