.anuncio {
    width: 1865px;
    height: 760px;
    margin-left: 20px;
    margin-right: 20px;

 /*   border: 1px solid #000000; */
    box-sizing: border-box;
}

.anuncio .descripcion {
    width: 1298px;
}

.anuncio .Framefotoanuncio{
    display: flex;
    flex-direction: column;
    width: 486px;
    height: 453px;
    float: left;
  
 /*   border: 1px solid #000000; */
    box-sizing: border-box;
}
.anuncio .Framefotoanuncio .Marca-Modelo{
    
    
    flex-grow: 1;
  /*  border: 1px solid #000000; */
    box-sizing: border-box;
    text-align: center;
    
}
.anuncio .Framefotoanuncio .Marca-Modelo p{
    justify-content: center; 
    align-items: center; 
    font-size: 150%;
    
}

.anuncio .Framefotoanuncio .Imagen{
    
    flex-grow: 50;
    width: 100%;
 
   /* border: 1px solid #000000; */
    box-sizing: border-box;
}

.anuncio .Framefotoanuncio .Imagen img{
    width: 100%;
    height: auto;
}

.anuncio .Frameinfoanuncio{
    display: flex;
    flex-direction: column;
    width: 812px;
    height: 369px;
    float: left;
    margin-left: 50px;
    margin-right: 90px;

    /*border: 1px solid #000000;*/
    box-sizing: border-box;
    
}



.anuncio .Frameinfoanuncio .InformacionVehiculo{
    
    flex-grow: 1;
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
}

.anuncio .Frameinfoanuncio .descripcion{
    
    flex-grow: 1;
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
}

.anuncio .Frameinfoanuncio .descripciontexto{
    
    flex-grow: 3;
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
}



.anuncio .Frameinfoanuncio .Detalles{
    
    flex-grow: 50;
    width: 100%;

    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: #f5f5f5;
}


.anuncio .Frameinfoanuncio .Detalles #tabla{
    
    width: 95%;
    height: 90%;
    justify-content: center; 
    align-items: center; 
    padding-left: 1%;
}

.anuncio .Frameinfoanuncio .Detalles p{
    
    padding-left: 1%;
}


.anuncio .Frameinfovendedor{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 546px;
    
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
}

.anuncio .Frameinfovendedor .imagenvendedor{
    flex-grow: 1;
    width: 100%;
   
    /*border: 1px solid #000000;*/
    box-sizing: border-box;

} 

.anuncio .Frameinfovendedor .imagenvendedor img{
    width: 80%;
    margin-left: 10%;
    height: auto;    
}    




.anuncio .Frameinfovendedor .infovendedor{
    flex-grow: 20;
   /* border: 1px solid #000000;*/
    box-sizing: border-box;
    width:100%;
    height: auto;
}

.anuncio .Frameinfovendedor .infovendedor .tablavendedor{
    
    width: 90%;
    height: 100%;
    justify-content: center; 
    align-items: center; 
    
}

.anuncio .minigaleria{
    display: flex;
    flex-direction: row;
    width: 812px;
    height: 71px;
    margin-top: 20px;
    margin-left: 550px;
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
}

.anuncio .minigaleria .imagenes {
    flex-grow: 1;
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
}


@supports(object-fit: cover) {
    .anuncio .minigaleria .imagenes img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

<<<<<<< HEAD
=======
.footer {
    width: 100%;
    height: 280px;
    display: flex;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer .footerTitle {
    font-size: 2.2em;
    margin-top: 10px;
}

.footer .footerDescription {
    text-align: center;
}

.footer .footerCopyright {
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 50px;
}

.footer .footerCopyright p {
    margin-left: 15px;
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer .footerCopyright p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration: none;
}
>>>>>>> 8a57d38b10771cfa5d4a72cf148164d088869fc3
