.perfilPage {
    min-height: 600px;
}

.perfil {
    display: flex;
    flex-direction: row;

    width: 1850px;
    height: 549px;

    margin-top: 30px;
    margin-left: 20px;

    background: lightgray;

}

.perfil .Framefoto{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #333;
   /* border: 1px solid blue;*/
    box-sizing: border-box;
}

.perfil .Framedetalles {
    margin: 30px;
    width: 500px;
    background-color: whitesmoke;
    flex-grow: 3;
    /*border: 1px solid #000000; */
    box-sizing: border-box;
}

.perfil .Framedetalles .profileElement {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 200px;
    margin-bottom: 40px;
    width: 400px;
    height: 85px;
    float: left;
}

.perfil .Framedetalles .profileElement .elementTitle{
    margin-left: 20px;
    margin-top: -15px;
    font-size: 1.8em;
}

.perfil .Framedetalles .profileElement .elementContent{
    margin-left: 30px;
    margin-top: -15px;
    font-size: 1.3em;
}

.perfil .Framedetalles .profileElement hr{
    width: 500px;
    height:1px;
    border-width:0;
    background-color:rgb(247, 103, 103)
}


.perfil .Framefoto .perfilfoto{
    margin-top: 10%;
    flex-grow: 2;
    /*border: 1px solid pink;*/
    box-sizing: border-box;
}

.perfil .Framefoto .botoncambiarfoto{
    margin-bottom: 15%;
    flex-grow: 1;
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
}

.perfil .Framefoto .botoncambiarfoto .button{
    margin-top: 10% ;
    width: 25%;
    margin-left: 40%;
}

.perfil .Framefoto .perfilfoto img{
    width: auto;
    height: 100%;
    margin-left: 25%; 
}